@charset "UTF-8";


/* aspecto del contenedor del juego online */
.webgl-content {
	top: 50%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	position: unset;
	top: 50%;
	left: 50%;
	-webkit-transform: none;
	transform: none;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	font-weight: bold;
	margin: 10px 0
}

h1 {
	padding: 26px;
}


/* aspecto general de las paginas */
#contenedor {
	width: 100%;
	background-color: #FFF;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

header#cabecera {
	width: 100%;
	background: white;
	color: #002b3c;
	overflow: hidden;
	text-align: center;
	box-shadow: rgba(0, 0, 0, 0.36) 0 3px 8px;
}


/* aspecto de la navegacion */
nav {
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
}

nav ul {
	list-style: none;
}

nav ul li {
	float: left;
	width: 16.666666%;
	text-align: center;
}

nav ul li a {
	justify-content: center;
	cursor: pointer;
	display: block;
	padding-top: 16px;
	padding-bottom: 16px;
	font-weight: bold;
	color: white;
	background: #00b5cc;
	text-decoration: none;
	border-bottom: 1px;
}

nav ul li a:hover {
	background: rgb(179, 246, 255);
	color: black !important;
}


/* aspecto de la secion centrar */
section {
	width: 550px;
	float: left;
	min-height: 600px;
	height: auto;
	margin-left: 10%;
	margin-bottom: 15px;
}

section header {
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding-top: 16px;
}

section p {
	text-align: justify;;
	margin-bottom: 10px;
}

section img {
	width: 100%;
	margin-bottom: 15px;
	height: 275px;
}

section footer {
	position: relative;
	clear: both;
	width: 100%;
	height: 30px;
	background: white;
	color: grey;
	left: 0px;
}

/* aspecto las imagenes del lateral */
aside {
	margin-right: 45px;
	width: 400px;
	float: right;
	height: 500px;
	margin-bottom: 15px;
}

aside img {
	width: 100%;
	margin: 15px;
	height: 250px;
}


/* aspecto del pie de pagina */
footer {
	clear: both;
	left: 5px;
	bottom: 0;
	width: 100%;
	height: 75px;
	background: #00b5cc;
	color: white;
	text-align: center;
}

footer p {
	margin: 35px;
	padding: 10px;
}

/* aspecto del formulacion */
form {
	display: grid;
	background: #f9f9f9;
	margin: 2px auto 0 auto;
	max-width: 600px;
}

form input {
	background: #fff;
	border: 1px solid #9c9c9c;
}

form button {
	background: lightgrey;
	padding: 5px;
	width: 100%;
	border: 0;
	max-width: 560px;
}

form button:hover {
	background: rgb(179, 246, 255);
	color: black;
}

label {
	display: inline-block;
	padding: 5px 5px 5px 0;
	width: 150px;
	text-align: right;
}

input, select {
	padding: 5px;
	margin-bottom: 5px;
}

input:focus {
	outline: 3px solid rgb(227, 143, 126);
	color: black;
}

iframe {
	margin-top: 20px;
}

/* aspecto de la pagina de descargas */
.descargas {
	align-items: center;
}

.descargas img {
	width: 240px;
	height: 170px;
	margin: 16px;
}

.descargas button {
	padding: 16px;
	margin: 16px;
	width: 240px;
	font-weight: bold;
	color: white;
	size: 16px;
	text-decoration: none;
	background-color: #eba623;
}

ul#listaInicio {
	margin-left: 40px;
}

input[type="radio"] {
	width: auto;
}


/* aspecto que cambiar cuando el ancho es menor a 1124px */
@media screen and (max-width: 1124px) {
	h1 {
		width: auto !important;
	}
	section, aside {
		width: auto;
		float: none;
		height: auto;
		min-height: auto;
		margin-left: 5%;
		margin-right: 5%;
	}
	nav ul li a {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 38px;
	}
	aside img {
		width: auto;
		align-items: center;
	}
}

/* aspecto que cambian cuando el ancho es menor a 480px */
@media screen and (max-width: 480px) {
	nav ul li {
		width: 33.333%;
	}
	#contenedor {
		width: 100%;
		height: auto;
		border: none;
		margin: 0px;
		padding: 0px;
	}
	#contenerdorFotos {
		display: none;
	}
	.descargas img {
		display: none;
	}
	header {
		margin: 0;
	}
	header .logo {
		margin: auto;
		float: none;
		width: 100px;
	}
	header h3 {
		display: none;
	}
	aside {
		display: none;
	}
	input, label, select, textarea {
		width: 95%;
		text-align: center;
		align-items: center;
	}
	section {
		width: 95%;
		margin: 0;
		padding: 5px;
		height: auto;
		min-height: none;
	}
	section footer {
		display: none;
	}
	.descargas button {
		width: 95%;
	}
}